name: Axios

on:
  push:
    branches:
      - main
  schedule:
     - cron: '0 0 * * *' # 每5分钟一次，测试用

jobs:
  axios-action:
    runs-on: ubuntu-latest
    steps:
      - name: Call Auth API
        uses: actionsflow/axios@v1
        id: api
        with:
          url: https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/65166567-fbc5-46a5-b4fb-df9d835eda26
          method: "POST"
      - run: echo ${{ steps.api.outputs.data }} # 打印数据
